<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h1 class="oe_slogan" style="color:#706775; text-align: center;">Standard Backend Theme v13</h1>
        <h2 class="oe_slogan" style="color:#00A09D; text-align: center;">Clear Backend Theme "Standard" for Odoo v13.0</h2>
		<h3 class="oe_slogan" style="color:#706775; text-align: center;">Standard Backend Theme Clean View for Odoo Community Edition version 13.0</h3>
        <h4 class="oe_slogan" style="color:#00A09D; text-align: center;">The visual and usability renovation. We are designed in best possible look with cool, clean and clear design.</h3>
    </div>
</section>

<section class="oe_container" style="padding:20px 0px 90px 0px">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#706775; text-align: center;">Soft, Clear and Responsive Interface</h2>
			<h1 class="oe_slogan" style="color:#00A09D; text-align: center;">Screenshoots</h1>
            <div class="oe_screenshot" style="text-align: center;">
				<h3 class="oe_slogan" style="color:#706775;">Apps Main Panel</h3>
				<img style="max-width: 100%;" src="panel.png"/>
				<h3 class="oe_slogan" style="color:#706775;">Contacts Kanban View</h3>
                <img style="max-width: 100%;" src="contacts-kanban.png"><br><br>
				<h3 class="oe_slogan" style="color:#00A09D;">Search Menu View</h3>
                <img style="max-width: 100%;" src="menu-search.png"><br><br>
				<h3 class="oe_slogan" style="color:#706775;">Contact Form View</h3>
                <img style="max-width: 100%;" src="contact-form.png"><br><br>
				<h3 class="oe_slogan" style="color:#00A09D;">Products List View</h3>
                <img style="max-width: 100%;" src="products.png"><br><br>
                <h3 class="oe_slogan" style="color:#706775;">Mobile Panel View</h3>
                <img style="max-width: 100%;" src="mobile-panel.png"><br><br>
				<h3 class="oe_slogan" style="color:#00A09D;">Mobile Contact Form View</h3>
                <img style="max-width: 100%;" src="mobile-contact-form.png"><br><br>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
	<h3 class="oe_slogan">Help and Support</h3>
	<h5 class="oe_slogan" style="font-size: 20px;">Feel free to
		contact us, if you need any help with your Odoo implementation or addiontal features.</h5>
	<div class="oe_slogan">
		
		<a class="btn btn-primary btn-lg mt8" href="mailto:odoo@unibravo.com">
			<i class="fa fa-envelope"></i> Contact us
		</a>
	</div>

</section>