/* Copyright 2023
 * License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). */
 
// Buttons

.btn {
    border-radius: 0px;
}

.btn-primary {
    color: white;
    background-color: $brand-secondary;
    border-color: $brand-secondary;
    text-transform: uppercase;
    font-weight: 600;

}

.btn-primary:hover {

    color: white;
    background-color: $brand-secondary-dark;
    border-color: $brand-secondary-dark;
}

.btn-secondary {
    border: none;
    text-transform: uppercase;
}

.btn-secondary, .o_radio_hide_bullet label {
  color: #212529;
  background-color: white;
  border-color: white;
  color: #00A09D;
}

.btn-secondary:hover, .o_radio_hide_bullet label:hover {
  color: #212529;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}

.btn-secondary:focus, .o_radio_hide_bullet label:focus, .btn-secondary.focus, .o_radio_hide_bullet label.focus {
  box-shadow: 0 0 0 0.2rem rgba(222, 222, 223, 0.5);
}

.btn-secondary.disabled, .o_radio_hide_bullet label.disabled, .btn-secondary:disabled, .o_radio_hide_bullet label:disabled {
  color: #212529;
  background-color: white;
  border-color: white;
}

.btn-secondary:not(:disabled):not(.disabled):active, .o_radio_hide_bullet label:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .o_radio_hide_bullet label:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle, .o_radio_hide_bullet .show > label.dropdown-toggle {
  color: #212529;
  background-color: #ebebeb;
  border-color: #ebebeb;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .o_radio_hide_bullet label:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .o_radio_hide_bullet label:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus, .o_radio_hide_bullet .show > label.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(222, 222, 223, 0.5);
}

.btn-secondary.fa:not(.fa-search), .o_radio_hide_bullet label.fa:not(.fa-search) {
  color: #6c757d;
}

.btn-outline-secondary, .o_account_reports_page .oe_link_reports {
  color: #212529;
  background-color: white;
  border-color: #d8dbdd;
  color: #6c757d;
}

.btn-outline-secondary:hover, .o_account_reports_page .oe_link_reports:hover {
  color: #212529;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}

.btn-outline-secondary:focus, .o_account_reports_page .oe_link_reports:focus, .btn-outline-secondary.focus, .o_account_reports_page .focus.oe_link_reports {
  box-shadow: 0 0 0 0.2rem rgba(188, 191, 194, 0.5);
}

.btn-outline-secondary.disabled, .o_account_reports_page .disabled.oe_link_reports, .btn-outline-secondary:disabled, .o_account_reports_page .oe_link_reports:disabled {
  color: #212529;
  background-color: white;
  border-color: #d8dbdd;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .o_account_reports_page .oe_link_reports:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .o_account_reports_page .oe_link_reports:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle, .o_account_reports_page .show > .dropdown-toggle.oe_link_reports {
  color: #212529;
  background-color: #ebebeb;
  border-color: #d8dbdd;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .o_account_reports_page .oe_link_reports:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .o_account_reports_page .oe_link_reports:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus, .o_account_reports_page .show > .dropdown-toggle.oe_link_reports:focus {
  box-shadow: 0 0 0 0.2rem rgba(188, 191, 194, 0.5);
}

.btn:active, .btn.active {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #eee !important;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #eee !important;
}


.btn-link {
    color: $brand-secondary;
}

.o_button_icon {
    color: $brand-primary !important;
}

// Fix color Add file button
.o_control_panel .o_cp_sidebar .o_hidden_input_file .o_form_binary_form span {
    color: $gray-dark !important;
}

oe_highlight {
    color: white !important;
    background-color: $brand-primary !important;
}

.o_external_button {
    
    background: white;
    color: $brand-primary !important;
}

.dropdown-menu {
    border-radius: 0px;
}

.o_dropdown_toggler_btn, .o_dropdown_toggler_btn:hover, .o_dropdown_toggler_btn:focus, .o_dropdown_toggler_btn:hover, .o_dropdown_toggler_btn:focus, .btn-icon, .o_graph_button {
	border: none !important;
    text-transform: none !important;
    color: $gray-dark !important;
    background-color: transparent !important;
    
}

.o_field_widget {
    &.o_field_many2one .o_external_button {
        color: $brand-secondary
    }
}
