/**********************************************************************************
*  Copyright (C) 2019 UNIBRAVO
**********************************************************************************/

// Listview

.o_list_view.table {
    border: none;
}
 
.o_list_view.table thead {
    background-color: #e2e2e0;
}

.o_list_view .o_list_table > thead {
  background-color: white;
  border: none;
}

.o_list_view .o_list_table {
  border-collapse: collapse;
}

.o_list_view .o_list_table > thead > tr:first-child > th {
  border: none;
}

.o_list_view.table thead, .o_list_view.table tfoot, .o_list_view.table td,.o_list_view.table th {
    border: none;
}

.o_list_view .o_list_table > tfoot {
  border-bottom: none;
  border-top: none;
}

.o_list_view.table thead > tr > th.o_column_sortable:hover {
    background-color: #D6D6D3;
}
 
.o_list_view.table tbody tr.o_group_header {
    background-color: #dfdfdf;
    background-image: none;
    border-top: 1px solid #e2e2e0;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #eef0f0;
}

.o_list_view tfoot {
    background-color: $brand-primary;
    color: #ffffff;
    cursor: default;
    font-weight: normal;
}

.o_list_view .o_list_table .o_column_sortable:not(:empty)::after {
  position: absolute;
}

.o_list_view .o_list_table > thead > tr > th.o_column_sortable:not(:empty) {
  padding-right: 14px;
}

.o_list_view .o_list_table > thead > tr > th.o_column_sortable:not(:empty):last-child {
  padding-right: 30px !important;
}

.o_list_view .o_list_table > thead > tr > *, .o_list_view .o_list_table > tfoot > tr > * {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.o_list_view .o_list_table > thead > tr > :empty, .o_list_view .o_list_table > tbody > tr > :empty, .o_list_view .o_list_table > tfoot > tr > :empty {
  padding: 0;
}

.o_list_view .o_list_table > thead > tr > :empty::after, .o_list_view .o_list_table > tbody > tr > :empty::after, .o_list_view .o_list_table > tfoot > tr > :empty::after {
  display: none;
}

.o_content > .o_list_view > .table-responsive > .table > thead > tr > :not(:empty) {
  padding: 12px 4px;
}

.o_content > .o_list_view > .table-responsive > .table > tbody > tr:not(.o_list_table_grouped) > td {
  padding: 5px 4px;
}

.o_content > .o_list_view > .table-responsive > .table > tfoot > tr > :not(:empty) {
  padding: 10px 4px;
}

.o_content > .o_list_view > .table-responsive > .table > thead > tr > th.o_column_sortable:not(:empty) {
  padding-right: 13px;
}

.o_content > .o_list_view > .table-responsive > .table > thead > tr > th.o_column_sortable:not(:empty):last-child {
  padding-right: 29px !important;
}

.o_content > .o_list_view > .table-responsive > .table > thead > tr > *:first-child, .o_content > .o_list_view > .table-responsive > .table > tbody > tr > *:first-child, .o_content > .o_list_view > .table-responsive > .table > tfoot > tr > *:first-child {
  padding-left: 16px !important;
}

// Sticky Header & Footer in List View

.o_list_view {
    .table-responsive {
        .o_list_table {
            // th & td are here for compatibility with chrome
            thead,
            thead tr:nth-child(1) th {
                position: sticky;
                top: 0;
                z-index: 1;
            }
            thead tr:nth-child(1) th {
                background-color: white;
            }
            tfoot,
            tfoot tr:nth-child(1) td {
                position: sticky;
                bottom: 0;
            }
            tfoot tr:nth-child(1) td {
                background-color: white;
            }
        }
    }
}

@media (max-width: 767.98px) {
  .o_view_controller > .o_content > .o_list_view > .table-responsive {
    overflow: auto;
  }
  .o_list_view.o_renderer_selection_banner th.o_list_record_selector > .custom-checkbox {
    z-index: 2;
  }
  .o_list_view.o_renderer_selection_banner .o_list_selection_box {
    align-items: center;
    display: -webkit-box; display: -webkit-flex; display: flex;
    justify-content: center;
    position: absolute;
    padding: 13px 4px;
    z-index: 2;
  }
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0px !important;
}