/* Copyright 2016, 2019 Openworx.
 * License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). */

body {

    font-family: "Poppins";
}

@font-face {
    font-family: Poppins;
    src: url(/web_standard13/static/src/fonts/Poppins-Regular.ttf)
}

$brand-primary: #7a727e;
$brand-secondary: #639290;
$brand-primary-dark: darken($brand-primary, 10%);
$brand-secondary-dark: darken($brand-secondary, 10%);
$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%);
$gray-dark:              #666;
$gray:                   #777;
$gray-light:             #AEA79F;
$gray-lighter: lighten($gray-base, 93.5%);

.o_loading {
    background-color: $brand-primary;
}

.o_main_navbar {
    background-color : $brand-primary;
}

.o_main_navbar > a:hover, .o_main_navbar > a:focus, .o_main_navbar > button:hover, .o_main_navbar > button:focus {
    background-color: $brand-primary-dark;
    color: inherit;
}

.o_main_navbar > ul > li > a:hover, .o_main_navbar > ul > li > label:hover {
    background-color: $brand-primary-dark;
}

.o_main_navbar .show .dropdown-toggle {
    background-color: $brand-primary-dark;
}

a {
    color: $brand-secondary;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: $brand-secondary-dark;
    text-decoration: none;
}

// Badges

.badge {
    border: 1px solid $brand-secondary;
}


// Filter search label

.o_searchview {
    .o_searchview_facet {
         background-color: white;
        .o_searchview_facet_label {
            background-color: $brand-primary;
        }
    }
}

.breadcrumb {
    background-color: inherit;
}

.o_menu_apps .dropdown-menu.show .o-app-icon {
	padding: 20px 0 0;
}

.o_menu_apps .dropdown-menu.show .o-app-icon:hover {
	box-shadow: 0 8px 15px -10px black;
    transform: translateY(-1px);
}

.dropdown-item.o_app {
    background: transparent;
}

.o-menu-search-result {
	color: white;
}

.ui-autocomplete .ui-menu-item.ui-state-focus {
    background-color: #dee2e6;
}

.ui-menu-item a:hover,.ui-menu-item a:focus {
    color: #666666 !important;
}
.ui-autocomplete .ui-menu-item.ui-state-focus a{
    color: #666666 !important;
}

// Chat window

.o_thread_window .o_thread_window_header {
	background-color: $brand-primary;
}
